.fancy-button {
  background-color: #f4abaa;
  padding: 10px;
  border-radius: 0px;
  text-decoration: none;
  box-shadow: 5px 5px 5px #b9bbb5;
}
.condition {
  border: 2px solid black;
}
.document {
  border: 2px solid blue;
}
.procedure {
  border: 2px solid green;
}
.breadcrumb-1 {
  margin: 5px -25px;
  background-color: #fa2742;
  padding: 10px;
  border-radius: 0px;
  text-decoration: none;
  box-shadow: 5px 5px 5px #b9bbb5;
}
.breadcrumb-2 {
  margin: 5px -15px;
  background-color: #fa2742;
  padding: 10px;
  border-radius: 0px;
  text-decoration: none;
  box-shadow: 5px 5px 5px #b9bbb5;
}
.breadcrumb-3 {
  margin: 5px -5px;
  background-color: #fa2742;
  padding: 10px;
  border-radius: 0px;
  text-decoration: none;
  box-shadow: 5px 5px 5px #b9bbb5;
}
.breadcrumb-4 {
  margin: 5px 5px;
  background-color: #fa2742;
  padding: 10px;
  border-radius: 0px;
  text-decoration: none;
  box-shadow: 5px 5px 5px #b9bbb5;
}
